
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Space Imagery</title>
    <!-- Подключаем Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'maps/home.css' %}">
    <link rel="stylesheet" href="{% static 'lightzoom/style.css' %}" type="text/css">
</head>
<body>
    <div class="map-main">
        <div class="main-sector">
            <div class="header">
                <div class="logo">Space</div>
            </div>
            <div id="map"></div>
        </div>
        <div class="working-panel">
            <div id="title">Рабочая панель</div>
            <div class="subcategories">
                <a id="filter" href="#">Фильтр</a>
                <a id="result" href="#">Результат</a>
                <a id="coef" href="#">Коэффициенты</a>
            </div>
            <div class="subcategories-div">
                <div id="filter-div">
                    <div class="filter-div-input">
                        <span id="filter-div-input-title">Диапазон даты</span>
                        <label for="data-start">Начальная дата</label>
                        <input id="start-date" type="date">
                        <label for="data-start">Дата окончания</label>
                        <input id="end-date" type="date">
                    </div>
                    <div class="filter-div-input">
                        <span id="filter-div-input-title">Облачный покров</span>
                        <div id="cloud-cover-number">
                            <input type="text" id="min-value">
                            <input type="text" id="max-value">
                        </div>
                        <div id="slider"></div>
                        <div id="unkdown">
                            <div><input id="checkbox-unkdown" type="checkbox"></div>
                            <span id="checkbox-title">Включать неизвестные</span>
                        </div>
                    </div>
                    <div class="filter-div-input">
                        <span id="filter-div-input-title">Число результатов</span>
                        <label for="max-results">Максимальное число результатов</label>
                        <input type="number" id="max-results" min="0" max="1000" style="width: 100px;">
                    </div>
                    <div class="filter-div-input">
                        <div class="long-lat">
                            <span><b>Lat:</b> <input type="number" step="0.001" maxlength="6" max="90" id="lat"></span></span>
                            <span><b>Long:</b> <input type="number" step="0.001" maxlength="6" max="180" id="long"></input></span>
                            
                        </div>
                    </div>
                    <div class="input-div-button">
                        <button onclick="handleButtonClick()" type="submit">Запросить данные</button>
                    </div>
                </div>
                <div id="result-div">
                    <div class="filter-div-input">
                        <span id="filter-div-input-title">Выберите расчет</span>
                        <select name="select-bands" id="select-bands">
                            <option value="reflectivecolor">Reflective Color</option>
                            <option value="thermalbrowse">Thermal Browse - Band 10</option>
                            <option value="qualitybrowse">Quality Browse</option>
                            <option value="cir">Цветное инфракрасное изображение - каналы 5, 4, 3</option>
                            <option value="urban">Ложные цвета для городских территорий - каналы 7, 6, 5</option>
                            <option value="vegetationanalysis">Ложные цвета для анализа растительности - каналы 6, 5, 4</option>
                            <option value="naturalcolor">Естественный цвет - каналы 4, 3, 2</option>
                            <option value="nir">Ближний инфракрасный - канал 5</option>
                            <option value="nbr">Нормализованный коэффициент ожогов</option>
                            <option value="ndmi">Нормализованный индекс различия влаги</option>
                            <option value="ndsi">Нормализованный индекс различия снега</option>
                            <option value="ndvi">Нормализованный индекс различия вегетации</option>
                            <option value="savi">Индекс коррекции почвы вегетацией</option>
                        </select>
                    </div>
                    <div id="result-div-images">Результатов пока нет</div>
                </div>
                <div id="coef-div">
                    <div class="filter-div-input">
                        <span id="filter-div-input-title">Выберите расчет</span>
                        <select name="select-bands" id="select-bands">
                            <option value="cir">Цветное инфракрасное изображение - каналы 5, 4, 3</option>
                            <option value="urban">Ложные цвета для городских территорий - каналы 7, 6, 5</option>
                            <option value="vegetationanalysis">Ложные цвета для анализа растительности - каналы 6, 5, 4</option>
                            <option value="naturalcolor">Естественный цвет - каналы 4, 3, 2</option>
                            <option value="nir">Ближний инфракрасный - канал 5</option>
                            <option value="nbr">Нормализованный коэффициент ожогов</option>
                            <option value="ndmi">Нормализованный индекс различия влаги</option>
                            <option value="ndsi">Нормализованный индекс различия снега</option>
                            <option value="ndvi">Нормализованный индекс различия вегетации</option>
                            <option value="savi">Индекс коррекции почвы вегетацией</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'lightzoom/lightzoom.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <script type="text/javascript">
        jQuery('.lightzoom').lightzoom();
      </script> -->
    <script type="module" src="{% static 'js/home.js' %}"></script>
    <script>
        L.TileLayer.WMS.DMID = L.TileLayer.extend({
            initialize: function (imageUrl, latlngs, options) {
                this._url = imageUrl;
                this._latlngs = latlngs;
                this._bounds = L.latLngBounds();
                this._crossesAM = false;

                // Проверка пересечения анти-меридиана
                for (var i = 0; i < latlngs.length; i++) {
                    this._bounds.extend(latlngs[i]);
                    
                    if (this.isCrossMeridian(latlngs[i], latlngs[(i + 1 === latlngs.length ? 0 : i + 1)])) {
                        this._crossesAM = true;
                    }
                }

                options.bounds = this._bounds;
                options.tileSize = 256;
                options.pane = 'browseOverlayPane';

                L.setOptions(this, options);
            },
            isCrossMeridian: function (latlng1, latlng2) {
                // Пример простой функции для определения пересечения анти-меридиана
                return Math.abs(latlng1.lng - latlng2.lng) > 180;
            },
            getTileUrl: function(coords) {
                var size = this.getTileSize();
                
                // Центр тайла
                var upperLeft = this._map.options.crs.pointToLatLng(coords.scaleBy(size), coords.z);
                var lowerRight = this._map.options.crs.pointToLatLng((new L.Point(coords.x + 1, coords.y + 1)).scaleBy(size), coords.z);
                
                // Обработка анти-меридиана
                if (this._crossesAM && upperLeft.lng > 0) {
                    upperLeft.lng -= 360; 
                    lowerRight.lng -= 360;
                }

                var nw = this._map.options.crs.project(upperLeft);
                var se = this._map.options.crs.project(lowerRight);

                return this._url + '&srs=EPSG:3857&format=image/png&transparent=true&version=1.1.1&height=' + size.y + '&width=' + size.x + '&bbox=' + nw.x + "," + se.y + "," + se.x + "," + nw.y;
            }
        });

        L.tileLayer.wms.dmid = function(imageUrl, latlngs, options) {
            if (latlngs.length === 0) {
                console.log('Tried adding a WMS layer without latlngs');
                return null;
            }
            
            if (options === undefined) {
                options = {};
            }
            
            return new L.TileLayer.WMS.DMID(imageUrl, latlngs, options);
        };
    </script>

    
</body>
</html>
